*{
  font-family: Arial, Helvetica, sans-serif;
}
h2,h1{
  color: white;
}
body{
  padding: 60px;
  background-color: black;
}

input{
  color: grey;
  width: 100%;
  font-size: 1.2rem;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  background-color: aliceblue;
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px;
  width: 360px;
  height: 250px;
  box-shadow: 5px 10px #888888;
}

.card:hover{
  transform: scale(.9);
}
form{
  margin-bottom: 30px;
}

.card p {
  padding: 5px;
  text-align: center;
  color: black;
}
p{
  color: white;
}
.card img {
  max-height:170px;
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 80px;
}